# project deps
**/node_modules
node_modules
package-lock.json
yarn.lock

# configuration files
**/config.json

# env files
**/*.env

# js files (in src)
src/*.js

# OS / editor junk
.DS_Store
**/Thumbs.db
.vs
.vs/
/.idea/
/.vscode/
Roblox/.editorconfig

# logs
**/npm-debug.log
**/*.log

# redis
dump.rdb

# prefix folders with old- if not used anymore/unsure if going to be added
services/old-*

# build outputs / large assets not tracked
/AssetValidationV2/AssetValidationV2.exe
AssetValidationV2/AssetValidationV2.exe
Roblox/Roblox.Website/ffprobe.exe
Roblox/Roblox.Website/ffmpeg.exe
Roblox/Roblox.Website/ffplay.exe
api/api.zip
services.7z
RCCService/RCCService2020.rar
RCCService/RCCService2020.zip
RCCService/content/**.rbxl
RCCService/content/*.rbxl

# Visual Studio / Rider caches
/Roblox/.vs
Roblox/.vs/
/Roblox/.idea
/Roblox/.idea/.idea.Roblox
/Roblox/.idea/.idea.Roblox/.idea/dataSources
/Roblox/.idea/.idea.Roblox/.idea/workspace.xml

# admin build output
/admin/public/build/*

# unused / experimental trees
game-renderer/src/controllers/gameServerRCC.js
game-renderer/src/routers/gameServerRouter.js
/game-renderer/dist
/game-renderer/RCCService
/game-renderer/.idea
game-renderer/themeparktycoon2.rbxl
game-renderer/package-lock.json
game-renderer/eslint.config.js.old
/RCCService2020
/RCCService2020.Korone
/Roblox.Goob
/game-arbiter
/22
/2016-roblox-main.old
2016-roblox-main/package-lock.json
2016-roblox-main/config.goober.json
/2016-roblox-main/.next
/2016-roblox-main/.idea

# python bytecode
__pycache__/
*.pyc
