# Your roblox cookie.
Cookie=yourrobloxcookie;

# by default will use roblox's api, if u want to use multifetch id recommend setting this to false.
useRobloxApi=true;

# # Allows you to fetch assets from multiple different revivals asset delivery apis.
# useMultiFetch=false;

# Cache Assets
cacheAssets=true;

# Enables required authorization to use this proxy.
useAuthorization=true;
AuthorizationKey=ReplaceMeWithASecureKeyPls
Port=26831